:root{
	--background-color:rgb(255,255,255);
	--text-color:rgb(0,0,0);
	--text-color-highlight:rgb(15,50,160);
	--text-color-faded:rgba(0,0,0,0.5);
	--box-color:rgba(0,0,0,0.07);
	--box-color-highlight:rgb(55,130,200);
	
	--strength-color:rgb(255,150,150);
	--dexterity-color:rgb(255,255,150);
	--constitution-color:rgb(150,255,150);
	--intelligence-color:rgb(150,255,255);
	--wisdom-color:rgb(150,150,255);
	--charisma-color:rgb(255,150,255);
	
	--font-size-huge:60px;
	--font-size-big:45px;
	--font-size-medium:35px;
	--font-size-small:30px;
	--font-size-tiny:25px;
	
	--box-border-radius:10px;
}

body {
	margin:0px;
	margin-bottom:100px;
	
	user-select: none;
	
	font-family:Arial, sans-serif;
	font-size:var(--font-size-medium);
	
	background-color:var(--background-color);
	color:var(--text-color);
}
p{
	margin:0px;
	padding:0px;
}
div{
	margin:0px;
	padding:0px;
}

.text-box{
	background-color:var(--box-color);
	border:1px solid rgba(0,0,0,0.2);
}
.character-name {
	padding-top:20px;
	padding-bottom:10px;
	
	font-size:var(--font-size-huge);
	font-weight:bold;
	text-align:center;
}
.character-info{
	padding:5px 0px;
	
	font-size:var(--font-size-small);
}
.character-info-tab{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	
	padding:0px 10px;
}

.stats-tab{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	gap:10px;
	
	margin:10px 100px;
	
	font-size:var(--font-size-small);
	text-align:center;
}
.stats-box{
	padding:5px 0px;
	padding-bottom:10px;
	
	border-radius:var(--box-border-radius);
}
.stats-name{
	margin-bottom:5px;
}
.stats-value{
	width:80%;
	
	margin:auto;
	margin-top:5px;
	padding:5px 0px;
	
	font-weight:bold;
	
	border-radius:var(--box-border-radius);
}

.ability-tab{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	gap:10px;
	
	margin:10px 100px;
	
	text-align:center;
}
.ability-box{
	border-radius:var(--box-border-radius);
}
.ability-name{
	font-size:var(--font-size-small);
}
.ability-modifier{
	width:80%;
	
	margin:auto;
	padding:5px 0px;
	
	font-size:var(--font-size-huge);
	font-weight:bold;
	
	border-radius:var(--box-border-radius);
}
.ability-score{
	font-size:var(--font-size-tiny);
}

.ability-strength{
	background-color:var(--strength-color);
	border:2px solid var(--box-color);
}
.ability-dexterity{
	background-color:var(--dexterity-color);
	border:2px solid var(--box-color);
}
.ability-constitution{
	background-color:var(--constitution-color);
	border:2px solid var(--box-color);
}
.ability-intelligence{
	background-color:var(--intelligence-color);
	border:2px solid var(--box-color);
}
.ability-wisdom{
	background-color:var(--wisdom-color);
	border:2px solid var(--box-color);
}
.ability-charisma{
	background-color:var(--charisma-color);
	border:2px solid var(--box-color);
}

.button-box{
	display:grid;
	grid-template-columns:repeat(4,1fr);
	
	margin-top: 30px;
}
.button-tab{
	padding:5px 0px;
	
	font-size:var(--font-size-medium);
	
	border:1px solid rgba(0,0,0,0.2);
	border-radius:0px;
	
	background-color:var(--box-color);
	color:var(--text-color);
}
.button-tab-active{
	background-color:var(--box-color-highlight);
	color:var(--background-color);
}

.title-tab{
	margin:25px 0px;
	
	font-size:var(--font-size-big);
	font-weight:bold;
	text-align:center;
}

.skill-box{
	padding:5px 10px;
}
.skill-tab-name{
	padding:5px 0px;
	
	font-weight:bold;
}
.save-item, .skill-item{
	display:flex;
	
	margin:5px 0px;
	
	border-radius:var(--box-border-radius);
}
.save-item{
	font-weight:bold;
}
.skill-item{
	font-style:italic;
}
.skill-bonus{
	width:70px;
	padding:5px 10px;
	
	text-align:center;
	
	border-radius:var(--box-border-radius);
}
.skill-name{
	padding:5px 0px;
	margin-left:10px;
}
.proficiency-item{
	margin:5px 0px;
	padding:5px 10px;
}

.spellslots{
	display:flex;
	margin:auto;
	
	text-align:center;
}
.spellslots-box{
	flex-grow:1;
	flex-basis:1fr;
}
.spellslots-level{
	padding:5px 0px;
}
.spellslots-left{
	margin:10px;
	margin-top:0px;
	padding:5px 0px;
	
	font-weight:bold;
	
	border-radius:var(--box-border-radius);
}

.spellAbility{
	display:grid;
	gap:5px;
}
.spellAbility-box{
	display:grid;
	grid-template-columns: 2fr 5fr 4fr 2fr 5fr 2fr;
	
	padding:10px 10px;
}
.spellAbility-name{
	padding-right:10px;
	
	text-align:right;
}
.spellAbility-unit{
	font-weight:bold;
	text-align:center;
	
	border-radius:var(--box-border-radius);
}

.actions-tab{
	display:grid;
	gap:5px;
}
.action-box{
	position:relative;
	padding:20px 0px;
}
.action-icon{
	position:absolute;
	width:56px;
	height:56px;
	top:30px;
	left:20px;
}

.action-name{
	font-size:var(--font-size-big);
	font-weight:bold;
	text-align:center;
}
.action-type{
	margin-top:-5px;
	font-size:var(--font-size-tiny);
	font-style:italic;
	text-align:center;
	
	color:var(--text-color-faded);
}
.action-content, .spell-content, .spell-upgrade{
	margin:0px 10px;
	margin-top:5px;
	margin-bottom:-10px;
	padding:10px 20px;
	
	display:grid;
	gap:15px;
	
	border-radius:var(--box-border-radius);
}
.spell-content{
	margin:0px -10px;
	margin-bottom:0px;
}
.spell-upgrade{
	margin:0px -10px;
	margin-bottom:0px;
	
	display:block;
}
.action-info{
	padding-left:10px;
	text-indent:-10px;
}
.action-infoExtra{
	margin:0px -10px;
	padding:10px 20px;
	padding-left:30px;
	
	text-indent:-10px;
	
	border-radius:var(--box-border-radius);
}

.inventory{
	display:grid;
	gap:5px;
}
.coin{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	gap:20px;
	
	width:95%;
	margin:auto;
	
	text-align:center;
}
.coin-box{
	position:relative;
	padding:10px;
	
	display:grid;
	gap:10px;
	
	border-radius:var(--box-border-radius);
}
.coin-name{
	font-style:italic;
}
.coin-conversion{
	position:absolute;
	width:100%;
	
	top:-25px;
	
	font-size:20px;
	font-style:italic;
	
	color:var(--text-color-faded);
}
.coin-unit{
	padding:5px;
	
	font-weight:bold;
	
	border-radius:var(--box-border-radius);
}
.inventory-box{
	padding:10px 0px;
}
.inventory-line{
	display:flex;
	
	padding:0px 10px;
}
.inventory-quantaty, .inventory-icon, .inventory-name, .inventory-type{
	padding:5px 0px;
}
.inventory-quantaty{
	width:100px;
	margin-right:10px;
	
	font-weight:bold;
	text-align:center;
	
	border-radius:var(--box-border-radius);
}
.inventory-icon{
	position:relative;
	width:40px;
	height:40px;
	
	top:5px;
	margin-right:5px;
	
	filter: saturate(0) brightness(2.5) hue-rotate(0deg) contrast(1.5);
}
.inventory-name{
	font-weight:bold;
	margin-right:10px;
}
.inventory-type{
	padding-top:13px;
	
	font-size:var(--font-size-tiny);
	font-style:italic;
	
	color:var(--text-color-faded);
}
.inventory-content{
	margin:0px 10px;
	margin-top:10px;
	padding:10px 20px;
	
	display:grid;
	gap:15px;
	
	border-radius:var(--box-border-radius);
}
.features{
	display:grid;
	gap:5px;
}
.features-box{
	position:relative;
	padding:10px 0px;
}
.features-name{
	font-size:var(--font-size-big);
	font-weight:bold;
	text-align:center;
}
.features-content{
	margin:0px 10px;
	margin-top:5px;
	padding:10px 20px;
	
	display:grid;
	gap:15px;
	
	border-radius:var(--box-border-radius);
}
.features-content-box{
	margin:0px -10px;
	padding:10px 20px;
	
	display:grid;
	gap:15px;
	
	border-radius:var(--box-border-radius);
}
.features-info{
	padding-left:10px;
	text-indent:-10px;
}
.features-infoExtra, .features-select{
	display:grid;
	gap:10px;
	
	margin:0px -10px;
	padding:10px 20px;
	padding-left:30px;
	
	text-indent:-10px;
	
	border-radius:var(--box-border-radius);
}

.rogueSoulknifeTable{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	
	margin:-5px 0px;
	padding:5px 0px;
	
	text-align:center;
	text-indent:0px;
	
	border-radius:var(--box-border-radius);
}

.infoBold{
	color:var(--text-color-highlight);
}

.spaceDown{
	margin:15px;
}

.icon-passive{filter: 		saturate(0)		brightness(2.5)	hue-rotate(0deg)	contrast(1.5);}
.icon-action{filter: 		saturate(0.13)	brightness(3)	hue-rotate(100deg)	contrast(1);}
.icon-bonusAction{filter: 	saturate(0.13)	brightness(2.5)	hue-rotate(200deg)	contrast(1.2);}
.icon-castTime{filter: 		saturate(0.21)	brightness(2.2)	hue-rotate(280deg)	contrast(1.1);}
.icon-reaction{filter: 		saturate(0.6)	brightness(6)	hue-rotate(50deg)	contrast(1.6);}
.icon-character{filter: 	saturate(0)		brightness(2.5)	hue-rotate(0deg)	contrast(1.5);}
.inventory-icon{
}

.icon-specie{
	background:url('../img/specie.png');
	background-repeat:no-repeat;
	background-size:100%;
}
.icon-feat{
	background:url('../img/feat.png');
	background-repeat:no-repeat;
	background-size:100%;
}
.icon-spell{
	background:url('../img/spell.png');
	background-repeat:no-repeat;
	background-size:100%;
}
.icon-weapon-melee{
	background:url('../img/weaponMelee.png');
	background-repeat:no-repeat;
	background-size:100%;
}
.icon-weapon-ranged{
	background:url('../img/weaponRanged.png');
	background-repeat:no-repeat;
	background-size:100%;
}
.icon-armor{
	background:url('../img/armor.png');
	background-repeat:no-repeat;
	background-size:100%;
}
.icon-ammunition{
	background:url('../img/ammunition.png');
	background-repeat:no-repeat;
	background-size:100%;
}
.icon-adventureGear{
	background:url('../img/adventureGear.png');
	background-repeat:no-repeat;
	background-size:100%;
}
.icon-necklace{
	background:url('../img/necklace.png');
	background-repeat:no-repeat;
	background-size:100%;
}
.icon-scroll{
	background:url('../img/scroll.png');
	background-repeat:no-repeat;
	background-size:100%;
}
.icon-cleric{
	background:url('../img/cleric.png');
	background-repeat:no-repeat;
	background-size:100%;
}
.icon-rogue{
	background:url('../img/rogue.png');
	background-repeat:no-repeat;
	background-size:100%;
}