.text-box{
	background-color: var(--light-box-color);
}

.character-name {
	margin: 0px;
	padding: 15px 0px;
	
	text-align: center;
	font-size: var(--font-size-huge);
	font-weight: bold;
}

.character-info1{
	display: grid;
	grid-template-columns: auto auto auto;
}

.character-info-details {
	text-align: center;
	
	font-size: var(--font-size-small);
}

.character-ability {
	display: grid;
	grid-template-columns: repeat(3, 280px);
	gap: 15px;
	justify-content: center;
	margin: 10px 0px;
	
	text-align: center;
}

.character-ability-box {
	border-radius: 5px;
}
.character-ability-strength {
	background-color: var(--light-strength-color);
}
.character-ability-dexterity {
	background-color: var(--light-dexterity-color);
}
.character-ability-constitution {
	background-color: var(--light-constitution-color);
}
.character-ability-intelligence {
	background-color: var(--light-intelligence-color);
}
.character-ability-wisdom {
	background-color: var(--light-wisdom-color);
}
.character-ability-charisma {
	background-color: var(--light-charisma-color);
}

.strength-dark {
	background-color: var(--dark-strength-color);
}
.dexterity-dark {
	background-color: var(--dark-dexterity-color);
}
.constitution-dark {
	background-color: var(--dark-constitution-color);
}
.intelligence-dark {
	background-color: var(--dark-intelligence-color);
}
.wisdom-dark {
	background-color: var(--dark-wisdom-color);
}
.charisma-dark {
	background-color: var(--dark-charisma-color);
}

.character-ability-name {
}
.character-ability-modifier {
	width: 90%;
	margin: auto;
	padding: 5px 0px;
	
	font-size: var(--font-size-huge);
	font-weight: bold;
	
	border-radius: 5px;
}
.character-ability-score {
	font-size: var(--font-size-small);
}

.character-tab-button {
	text-align: center;
}
.character-tab-button-input {
	margin: 10px 0px;
	padding: 5px;
	width: 220px;
	
	font-size: var(--font-size-medium);
	
	background-color: var(--light-background-color);
	color: var(--dark-background-color);
}
.input-dark {
	background-color: var(--dark-background-color);
	color: var(--light-background-color);
}
.input-active {
	background-color: cyan;
}

.character-proficiencies-title{
	font-weight: bold;
	text-align: center;
}

.character-skill-list{}

.character-skill-box{
	padding: 5px 10px;
}

.character-skill-ability{
	font-weight: bold;
	padding: 5px 0px;
}

.character-skill-save, .character-skill-skill{
	display: flex;
	padding: 2px 0px;
	margin: 2px 0px;
	
	border-radius: 5px;
}
.character-skill-save{
	font-weight: bold;
	font-style: italic;
}
.character-skill-skill{
}

.character-skill-bonus{
	padding: 2px 0px;
	width: 80px;
	margin-right: 15px;
	
	text-align: center;
	
	border-radius: 5px;
}

.character-proficiency-box {
	
}
.character-proficiency-proficiency {
	margin: 5px 0px;
	padding: 5px 5px;
}


.characterFeatureSubclass{
	margin: 30px 0px;
	
	font-weight: bold;
	font-style: italic;
	font-size: var(--font-size-big);
	text-align: center;
}

.boxFeature {
	padding: 10px 0px;
	margin: 10px 0px;
}
.feature-name{
	font-weight: bolder;
	font-size: var(--font-size-big);
	text-align: center;
}
.feature-type{
	margin-top: -5px;
	margin-bottom: 0px;
	
	color: var(--bland-text-color);
	
	text-align:center;
	font-size: var(--font-size-tiny);
	font-style: italic;
}

.feature-content{
	padding: 5px 10px;
	margin: 5px 0px;
}

.feature-info {
	padding: 5px 10px;
}

.featureInfoBold{
	color: var(--light-info-tag);
}
.featureInfoBold-dark {
	color: var(--dark-info-tag);
}

.feature-effect {
	margin-bottom: 5px;
}

.spell-effect, .spell-upgrade, .weapon-effect, .weapon-mastery {
	border-radius: 10px;
}
.spell-effect {
	padding-bottom: 5px;
}
.spell-upgrade {
	margin-top: 5px;
	margin-bottom: 10px;
}











.box-dark {
	background-color: var(--dark-box-color);
}